In [18]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [19]:
# afficher toutes les colonnes (ne pas tronquer)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.width", None)

In [33]:
# Chargement des données

csv_path = Path("../data/raw/titanic.csv")  # adapte si besoin
df = pd.read_csv(csv_path)
df.head(15)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,zero.5,zero.6,Parch,zero.7,zero.8,zero.9,zero.10,zero.11,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
5,6,28.0,8.4583,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,1.0,0,0,0
6,7,54.0,51.8625,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2.0,0,0,0
7,8,2.0,21.0750,0,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
8,9,27.0,11.1333,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0.0,0,0,1
10,11,4.0,16.7000,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,1
11,12,58.0,26.5500,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2.0,0,0,1
12,13,20.0,8.0500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
13,14,39.0,31.2750,0,1,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
14,15,14.0,7.8542,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0

In [ ]:
# Aperçu des données
print(df.dtypes)

Passengerid      int64
Age            float64
Fare           float64
Sex              int64
sibsp            int64
zero             int64
zero.1           int64
zero.2           int64
zero.3           int64
zero.4           int64
zero.5           int64
zero.6           int64
Parch            int64
zero.7           int64
zero.8           int64
zero.9           int64
zero.10          int64
zero.11          int64
zero.12          int64
zero.13          int64
zero.14          int64
Pclass           int64
zero.15          int64
zero.16          int64
Embarked       float64
zero.17          int64
zero.18          int64
2urvived         int64
dtype: object

In [38]:
# Selection des colonnes utiles
df = df[["Passengerid", "Age", "Fare", "Sex", "Pclass", "sibsp", "Parch", "Pclass","Embarked","2urvived"]]
print(df.dtypes)

Passengerid      int64
Age            float64
Fare           float64
Sex              int64
Pclass           int64
Pclass           int64
Pclass           int64
Pclass           int64
sibsp            int64
Parch            int64
Pclass           int64
Pclass           int64
Pclass           int64
Pclass           int64
Embarked       float64
2urvived         int64
dtype: object

In [39]:
# Aperçu des données
df.head(15)

,Passengerid,Age,Fare,Sex,Pclass,Pclass,Pclass,Pclass,sibsp,Parch,Pclass,Pclass,Pclass,Pclass,Embarked,2urvived
0,1,22.0,7.2500,0,3,3,3,3,1,0,3,3,3,3,2.0,0
1,2,38.0,71.2833,1,1,1,1,1,1,0,1,1,1,1,0.0,1
2,3,26.0,7.9250,1,3,3,3,3,0,0,3,3,3,3,2.0,1
3,4,35.0,53.1000,1,1,1,1,1,1,0,1,1,1,1,2.0,1
4,5,35.0,8.0500,0,3,3,3,3,0,0,3,3,3,3,2.0,0
5,6,28.0,8.4583,0,3,3,3,3,0,0,3,3,3,3,1.0,0
6,7,54.0,51.8625,0,1,1,1,1,0,0,1,1,1,1,2.0,0
7,8,2.0,21.0750,0,3,3,3,3,3,1,3,3,3,3,2.0,0
8,9,27.0,11.1333,1,3,3,3,3,0,2,3,3,3,3,2.0,1
9,10,14.0,30.0708,1,2,2,2,2,1,0,2,2,2,2,0.0,1
10,11,4.0,16.7000,1,3,3,3,3,1,1,3,3,3,3,2.0,1
11,12,58.0,26.5500,1,1,1,1,1,0,0,1,1,1,1,2.0,1
12,13,20.0,8.0500,0,3,3,3,3,0,0,3,3,3,3,2.0,0
13,14,39.0,31.2750,0,3,3,3,3,1,5,3,3,3,3,2.0,0
14,15,14.0,7.8542,1,3,3,3,3,0,0,3,3,3,3,2.0,0

In [ ]:
# Aperçu info & mémoire
df.info()
mem_mb = df.memory_usage(deep=True).sum() / 1e6
print(f"\nMémoire ~ {mem_mb:.2f} MB")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   Pclass       1309 non-null   int64
 5   Pclass       1309 non-null   int64
 6   Pclass       1309 non-null   int64
 7   Pclass       1309 non-null   int64
 8   sibsp        1309 non-null   int64
 9   Parch        1309 non-null   int64
 10  Pclass       1309 non-null   int64
 11  Pclass       1309 non-null   int64
 12  Pclass       1309 non-null   int64
 13  Pclass       1309 non-null   int64
 14  Embarked     1307 non-null   float64
 15  2urvived     1309 non-null   int64
dtypes: float64(3), int64(13)
memory usage: 163.8 KB

Mémoire ~ 0.17 MB

In [ ]:
# Suppression des lignes avec des valeurs manquantes dans la colonne "Embarked"
df = df.dropna(subset=["Embarked"])

In [ ]:
# Suppression des doublons
dup_count = df.duplicated().sum()
print("Lignes dupliquées:", dup_count)
if dup_count:
    display(df[df.duplicated()].head())

Lignes dupliquées: 0

In [44]:
df.info()
mem_mb = df.memory_usage(deep=True).sum() / 1e6
print(f"\nMémoire ~ {mem_mb:.2f} MB")

<class 'pandas.core.frame.DataFrame'>
Index: 1307 entries, 0 to 1308
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1307 non-null   int64
 1   Age          1307 non-null   float64
 2   Fare         1307 non-null   float64
 3   Sex          1307 non-null   int64
 4   Pclass       1307 non-null   int64
 5   Pclass       1307 non-null   int64
 6   Pclass       1307 non-null   int64
 7   Pclass       1307 non-null   int64
 8   sibsp        1307 non-null   int64
 9   Parch        1307 non-null   int64
 10  Pclass       1307 non-null   int64
 11  Pclass       1307 non-null   int64
 12  Pclass       1307 non-null   int64
 13  Pclass       1307 non-null   int64
 14  Embarked     1307 non-null   float64
 15  2urvived     1307 non-null   int64
dtypes: float64(3), int64(13)
memory usage: 173.6 KB

Mémoire ~ 0.18 MB

In [ ]:
display(df.describe())

,Passengerid,Age,Fare,Sex,Pclass,Pclass,Pclass,Pclass,sibsp,Parch,Pclass,Pclass,Pclass,Pclass,Embarked,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1307.000000,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,2.294882,2.294882,2.294882,2.294882,0.498854,0.385027,2.294882,2.294882,2.294882,2.294882,1.492731,0.261268
std,378.020061,12.905241,51.741500,0.478997,0.837836,0.837836,0.837836,0.837836,1.041658,0.865560,0.837836,0.837836,0.837836,0.837836,0.814626,0.439494
min,1.000000,0.170000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,328.000000,22.000000,7.895800,0.000000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000
50%,655.000000,28.000000,14.454200,0.000000,3.000000,3.000000,3.000000,3.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000
75%,982.000000,35.000000,31.275000,1.000000,3.000000,3.000000,3.000000,3.000000,1.000000,0.000000,3.000000,3.000000,3.000000,3.000000,2.000000,1.000000
max,1309.000000,80.000000,512.329200,1.000000,3.000000,3.000000,3.000000,3.000000,8.000000,9.000000,3.000000,3.000000,3.000000,3.000000,2.000000,1.000000